# Ignorar archivos y directorios generados automáticamente
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar directorio de node_modules en el Frontend
Frontend/Deporte/node_modules/

# Ignorar archivos generados en el Frontend durante la construcción
Frontend/Deporte/dist/
Frontend/Deporte/public/

# Ignorar archivos de media en el Backend
Backend/media/
Backend/staticfiles/
Backend/static/

# Ignorar archivos de configuración específicos de desarrollo
*.env
*.env.local
*.env.development
*.env.test
*.env.production

# Ignorar archivos de logs y bases de datos
*.log
*.sql
*.sqlite3

Backend/noticias/migrations/
